<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
<div>  <ion-img src="../../assets/ComicHeroPagePhone.jpg"></ion-img>
  <p> </p>
  </div>
  <div class ="sell">
    <ion-img src="../../assets/book2.jpg"></ion-img>
    <p>Dr. Strange and the murder mystry</p>
  </div>
  <div class="sell">  <ion-img src="../../assets/book2.jpg"></ion-img>
    <p>Dr. Strange's death in the multivers</p>
    <p></p>
  </div>
</ion-content>
